* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: young-serif;
  src: url(./assets/fonts/young-serif/);
}
@font-face {
  font-family: Outfit;
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
li {
  /* list-style: none; */
}
body {
  background-color: hsl(30, 54%, 90%);
}
h1 {
  background-color: white;
}
section {
  width: 700px;
  position: absolute;
  top: 700px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px 70px;
  border-radius: 10px;
}
section img {
  width: 100%;
  border-radius: 10px;
}

section h1 {
  font-family: young-serif;
  font-size: 2.5rem;
}

section .recipe-info {
  font-family: Outfit;
  color: hsl(30, 10%, 34%);
  font-size: 0.9rem;
}

section .prep-time h2,
section .ingredians h2,
section .instructions h2 {
  color: hsl(332, 51%, 32%);
  font-family: Outfit;
  margin-bottom: 20px;
  font-size: 1.2rem;
}
section .prep-time ul,
section .ingredians ul,
section .instructions ol {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section .prep-time li,
section .ingredians li,
section .instructions li {
  font-family: Outfit;
  color: hsl(30, 10%, 34%);
  padding-left: 10px;
  padding-left: 15px;
}

.prep-time li::marker,
.ingredians li::marker,
.instructions li::marker {
  color: hsl(332, 51%, 32%);
  font-family: Outfit;
  font-size: 1.2rem;
}
